@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --hyperlink-blue: hsl(228, 45%, 44%);
    --White: hsl(0, 0%, 100%);
    --Stone100: hsl(30, 54%, 90%);
    --Stone150: hsl(30, 18%, 87%);
    --Stone600: hsl(30, 10%, 34%);
    --Stone900: hsl(24, 5%, 18%);
    --Brown800: hsl(14, 45%, 36%);
    --Rose800: hsl(332, 51%, 32%);
    --Rose50: hsl(330, 100%, 98%);
}

.heading-style-1 {
    font-size: 2.5rem;
    font-family: 'Young serif', sans-serif;
    font-weight: 400;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    color: var(--Stone900);
}

.heading-style-2 {
    font-family: 'Young serif', sans-serif;
    color: var(--Brown800);
    font-weight: 400;
    font-size: 1.5rem;
    margin-block-start: 1rem;
    margin-block-end: 0.8rem;
}

.heading-style-3 {
    font-family: 'Outfit', sans-serif;
    color: var(--Rose800);
    font-weight: 600;
}

.p-style-1 {
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--Stone900);
}

span {
    font-weight: 600;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--Stone100);
}

.container {
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 55rem;
    padding: 2.5rem;
    margin-block-start: 9rem;
    border-radius: 1.25rem;
}

.image {
    display: flex;
    justify-content: center;
}

.omelette {
    width: 50rem;
    height: 20rem;
    border-radius: 1rem;
}

.prep {
    background-color: var(--Rose50);
    margin-block-start: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.prep ul {
    padding: 1.25rem;
    color: var(--Rose800);
}

.prep ul li {
    padding: 0.25rem;
}

.ingredients,
.instructions {
    border-bottom: 0.0625rem solid var(--Stone600);
    padding-block-end: 1.5rem;
}

.ingredients ul,
.instructions ol {
    color: var(--Brown800);
    padding-inline-start: 1.5rem;
}

.ingredients ul li,
.instructions ol li {
    padding: 0.3rem;
}

table {
    margin-block-start: 1rem;
    display: flex;
    flex-direction: column;
    padding-inline-start: 1.25rem;
}

tr {
    display: flex;
}

td {
    width: 50%;
    height: 2.5rem;
    border-bottom: 0.0623rem solid var(--Stone600);
    padding: 0.25rem;
    margin-block-start: 0.25rem;
    font-weight: 400;
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    color: var(--Stone900);
}

.cell-one {
    padding-inline-start: 1.4rem;
    color: var(--Stone900);
}

.cell-two {
    color: var(--Brown800);
    font-weight: 600;
}

.attribution {
    font-size: 0.6875rem;
    text-align: center;
    margin-block-start: 1rem;
}

.attribution a {
    color: var(--hyperlink-blue)
}

@media (width: 23.4rem) {
    .container {
        width: 100%;
    }
}
/* (max-width: 599px) and (min-width: 320px) */